.about-div {
    margin-left: 10%;
    /* font-size: 4vw; */
    font-family: Roboto;
    width: 60%;
    /* text-align: center; */
    margin-top: 5vh;
}

@media screen and (min-width: 601px) {
    .about-div {
      font-size: 2em;
    }
  }

  @media screen and (max-width: 600px) {
    .about-div {
      font-size: .6em;
    }
  }