.App {
  /* text-align: center; */
  /* display: flex; */
  justify-content: center;
  /* margin: auto; */
}

.container {

}

.footer {
  position: absolute;
  bottom: 0;
  height: 5%;
  background-color: #ffcab0;
  text-align: center;
  width: 100%;
  padding-top: 1%;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


.bridget-header {
  font-family: Lato;
  display: flex;
  justify-content: center;
  /* margin: auto; */
  /* justify-content: center; */
  /* text-align: center; */
  font-size: 2em;
}

.title-header {
  font-family: Lato;
  display: flex;
  justify-content: center;
  font-size: 2em;
}

body {
  background-color: #e0ffcd;
  height: 100%;
}