.contact-div {
    /* width: 100%; */
    /* min-height: 50px; */
    font-family: Lato;
    /* text-align: center; */
    /* justify-content: center; */
    margin: 0;
}

.links {
    margin: 1%;
    font-size: 1.25em;
    color: black;
}

@media screen and (min-width: 601px) {
    .contact-div {
      font-size: 1em;
    }
  }

  @media screen and (max-width: 600px) {
    .contact-div {
      font-size: .6em;
    }
  }