.contact-div {
    /* width: 100%; */
    /* min-height: 50px; */
    font-family: Roboto;
    /* text-align: center; */
    /* justify-content: center; */
    /* margin-left: 8%; */
}

.links {
    margin: 1%;
    font-size: 1.25em;
    color: #ffcbcb; 
}

@media screen and (min-width: 601px) {
    .contact-div {
      font-size: 1.25em;
    }
  }

  @media screen and (max-width: 600px) {
    .contact-div {
      font-size: .75em;
    }
  }