.navBar-div {
    text-decoration: none;
    /* color: black; */
    /* justify-content: space-between; */
    /* width: 100%; */
    /* margin-right: 10%;
    margin-left: 10%; */
    display: inline-block;
    width: 20%;
    float: left;
    /* margin-left: 10px; */

}

.navbar-link {
    /* margin: 2%; */
    color: #be3b0f;
    /* padding-bottom: 10px;
    margin-bottom: 10px; */
}

/* .navbar-link hover {
    color: #ffcab0;
} */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    /* width: 100%; */
    /* background-color: white; */
    /* height: 100%; */
  }

  @media screen and (min-width: 601px) {
    .navbar-link{
      font-size: 1em;
    }
  }

  @media screen and (max-width: 600px) {
    .navbar-link {
      font-size: .5em;
    }
  }

  .navBar-ul li {
    display: inline-block;
    padding-bottom: 1em;
    padding-left: 2em;
    margin-top: 1em;
  }