.navBar-div {
    margin-top: 4%;
    margin-bottom: 4%;
    text-decoration: none;
    color: black;
    justify-content: space-between;
}

.navbar-link {
    margin: 5%;
    color: #be3b0f;
}

.navbar-link hover {
    color: #ffcab0;
}