.kyndryl, .ibm, .marist, .flatiron {
    width: 30vh;
    margin: auto;
}

.work-experience, .education, .skills {
    display: flex;
    justify-content: center;
    width: 50%;
    margin: auto;
    text-align: center;
}

.work-title {
    display: flex;
    justify-content: center;
}