.resume-div {
  margin-left: 8%;
  font-family: Roboto;
  width: 100%;
}

.role h4 {
  margin-bottom: 0;
}

.kyndryl, .ibm, .marist, .flatiron {
    /* width: 85%; */
    /* margin-right: 2em; */
    margin-bottom: 5vh;
}

.work-experience, .education, .skills {
    /* display: flex; */
    /* justify-content: center; */
    width: 80%;
    /* margin-left: 15%; */
    /* text-align: center; */
}

.work-title {
    display: flex;
    text-decoration: underline;
    /* justify-content: center; */
    /* margin-left: 30%; */
}

.work-title h2 {
  margin-bottom: 0;
}

@media screen and (min-width: 601px) {
    .work-title {
      font-size: 2em;
    }
  }

  @media screen and (max-width: 600px) {
    .work-title {
      font-size: .6em;
    }
  }

  @media screen and (min-width: 601px) {
    .work-experience, .education, .skills {
      font-size: 1.25em;
    }
  }

  @media screen and (max-width: 600px) {
    .work-experience, .education, .skills {
      font-size: .2em;
    }
  }

  @media screen and (min-width: 601px) {
    .kyndryl, .ibm, .marist, .flatiron{
      font-size: 1.2em;
    }
  }

  @media screen and (max-width: 600px) {
    .kyndryl, .ibm, .marist, .flatiron {
      font-size: .5em;
    }
  }